# Enable URL rewriting
RewriteEngine On

# Ignore the rule if the requested file exists
RewriteCond %{REQUEST_FILENAME} !-f

# Ignore the rule if the requested directory exists
RewriteCond %{REQUEST_FILENAME} !-d

# Rewrite the URL to pass the path as a parameter to index.php
RewriteRule ^(.*)$ index.php?path=$1 [QSA,L]